@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500&display=swap");
@import ur("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
    font-size: 62.5%;
    /* Ta có thể chỉnh từ 10px sang 62.5% (16px*62.5% = 10px). */
}

body {
    font-family: var(--fontRoboto);
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --primary-color: #059154;
    --second-color: #d94737;
    --third-color: #eeeeee;
    --blur: #5eb891;
    --border: #e1e1e1;
    --fontRoboto: "Roboto", sans-serif;
    --fontBaloo: "Baloo Tammudu 2", cursive;
}

.wrapper {
    width: 100%;
    position: relative;
}
/* ==== Reuse ==== */
.box--heading {
    border: 2px solid var(--border);
    padding: 0.5rem 1rem;
}
.option {
    margin-bottom: 1rem;
}
.option__btn {
    font-family: var(--fontRoboto);
    width: max-content;
    margin-right: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #eeeeee;
    border: none;
    border-radius: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}
.option__btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.option--active {
    background-color: var(--primary-color);
    color: white;
}
.font--bold {
    font-family: var(--fontRoboto);
    font-size: 1rem;
    font-weight: 700;
}
.align {
    position: relative;
    margin-top: 2.5rem;
    min-width: 40rem;
    height: 43rem;
    border-radius: 0.5rem;
    border: 2px solid var(--border);
    padding: 1.5rem 0 0 1.5rem;
}

/* ==== Navigation ==== */
.nav {
    position: fixed;
    z-index: 1;
    top: 0;
    width: inherit;
    height: 3.5rem;
    color: white;
    background-color: var(--primary-color);
}

.nav__brand {
    float: left;
    width: 10.5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

.logo {
    position: relative;
    font-family: var(--fontBaloo);
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
}

.logo::before {
    content: "";
    position: absolute;
    height: 1.8rem;
    width: 0.2rem;
    right: 0;
    transform: translateX(1.5rem);
    background-color: white;
    border-radius: 5px;
}

.nav__list {
    font-family: var(--fontRoboto);
    list-style-type: none;
    height: inherit;
    overflow: hidden;
}

.nav__item {
    float: left;
    height: inherit;
}
.nav__item a {
    display: block;
    color: white;
    height: inherit;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1.2rem;
}

.nav__item i {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav__item--active {
    background-color: var(--second-color);
}

/* ==== Dropdown ==== */
.nav__item:first-child:hover .dropdown {
    display: block;
}

.dropdown {
    width: max-content;
    color: black;
    font-size: 1rem;
    background-color: white;
    border: 1px solid gainsboro;
    position: absolute;
    top: 0;
    transform: translate(8px, 30px);
    display: none;
}

.dropdown-item a {
    font-family: var(--fontRoboto);
    font-size: 1rem;
    padding: 0.5rem;
    text-align: start;
    color: black;
}

.dropdown-item i {
    margin-left: 0;
    margin-right: 0.5rem;
}

.dropdown-item a:hover {
    background-color: var(--border);
}

/* ==== Container ==== */
.container {
    max-width: 83rem;
    margin: auto;
}

/* ==== About ==== */
.about {
    font-family: var(--fontRoboto);
    margin: auto;
    margin-top: 5rem;
    width: max-content;
    height: 14rem;
}

.about__avatar {
    width: 9rem;
    height: 9rem;
    margin: auto;
}

.about__avatar img {
    /*not ok*/
    width: inherit;
    height: inherit;
    border-radius: 9rem;
}

.about__name {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

.about__status {
    width: max-content;
    margin: auto;
}

.about__status select {
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 1.5rem;
    color: var(--primary-color);
    outline: none;
    padding: 0.2rem;
    padding-left: 0.5rem;
}

.about__status--title {
    padding-right: 1.4rem;
}

/* ==== Result Work ==== */
.r-work {
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    margin-top: 3rem;
    padding: 1.5rem;
}
.r-work__data {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: var(--fontRoboto);
}

.r-work__data th {
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
    width: calc(100% / 10);
    height: 2.5rem; /* not ok*/
    border: 1px solid var(--border);
}

.r-work__data td {
    border: 1px solid var(--border);
    font-size: 1rem;
    height: 2.5rem; /* not ok*/
    text-align: center;
    vertical-align: middle;
}

.r-work__total {
    width: 100%;
    margin-top: 1.5rem;
    table-layout: fixed;
    border: 1px solid var(--border);
}

.r-work__total a {
    color: var(--primary-color);
    font-weight: 400;
}

.r-work__total th {
    position: relative;
    width: calc(100% / 5);
    height: 2.5rem; /* not ok*/
    vertical-align: middle;
    font-size: 1rem;
    font-weight: 700;
}

.r-work__total th::before {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    height: 3.5rem;
    background-color: var(--border);
}

.r-work__total th:first-child::before {
    top: 50%;
    transform: translateY(-50%);
}

.r-work__total th:last-child::before {
    width: 0;
}

.r-work__total td {
    height: 2.5rem; /* not ok*/
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
}

/* ==== Job Information ====  */
.info {
    float: left;
    margin-bottom: 5rem;
    font-family: var(--fontRoboto);
}

.info__show {
    margin-bottom: 1rem;
    width: max-content;
}

.info__show:first-child {
    margin-top: 2rem;
}

.info__title {
    display: inline-block;
    width: 10rem;
}

.info__title:nth-child(3) {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.info__title--last {
    width: 12rem;
    padding: 1rem 0;
}

.info__show input {
    font-family: var(--fontRoboto);
    font-size: 1rem;
    width: 25rem;
    height: 2rem;
    border: none;
    outline: none;
    margin-left: 1rem;
    background-color: #efefef;
    padding-left: 1rem;
}
.info__show input::placeholder{
    color: black;
}

.info__search {
    font-weight: 500;
}

.info__search--from input {
    font-family: var(--fontRoboto);
    font-size: 1rem;
    width: 10.5rem;
    height: 2rem;
    margin: 1rem;
    padding-left: 1rem;
    border: 1px solid var(--border);
}

.info__btn {
    font-size: 0.8rem;
    width: max-content;
    padding: 0.4rem;
    border: 0.5px solid #cacaca;
    border-radius: 1rem;
    background-color: white;
    color: #cacaca;
    margin-left: 0.2rem;
    cursor: pointer;
}
.info__btn--active {
    background-color: #6fbf9c;
    border: 0.5px solid #6fbf9c;
    color: white;
}
/* ==== Check Box ==== */

.info__screen {
    font-family: var(--fontRoboto);
    display: block;
    overflow: auto;
    height: 17rem;
}
.info__screen::-webkit-scrollbar {
    width: 3px;
}
.info__screen::-webkit-scrollbar-thumb {
    background-color: var(--border);
}

.info__screen--item {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1rem;
    height: 1.5rem;
}

.info--child {
    padding-left: 2rem;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--border);
    border-radius: 3.5px;
    transition: all 0.15s ease-out;
}

.info__screen--item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.info__screen--item input:checked ~ .checkmark {
    background-color: var(--blur);
    background-image: url("/images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
}

.info__screen--item input:checked ~ .checkmark:after {
    display: block;
}

.info__screen--item img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    border-radius: 50%;
}
.p-top{
    padding-top: 0.3rem;
}
/* ==== History Activity ==== */
.history {
    float: right;
}

.history-container {
    width: 100%;
    height: 35rem;
    overflow: auto;
}

.history-container::-webkit-scrollbar {
    width: 3px;
}

.history-container::-webkit-scrollbar-thumb {
    background-color: var(--border);
}

.history__table {
    width: 100%;
    font-size: 1rem;
    font-family: var(--fontRoboto);
}

.history__table th {
    text-align: start;
    vertical-align: middle;
    padding: 0.5rem 0;
}

.col__title {
    font-weight: bold;
    padding: 0.5rem 0;
    vertical-align: middle;
}

/* ==== Modal ==== */
#myModal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    margin: 10rem auto;
    max-width: 32rem;
    height: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    font-family: var(--fontRoboto);
}

.modal__title {
    width: inherit;
    height: 3.5rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: 1.4rem;
    padding-top: 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.modal__date {
    width: max-content;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.modal__date input {
    width: 14rem;
    height: 2rem;
    border: 1px solid var(--border);
    border-radius: 5px;
    outline: none;
    font-family: var(--fontRoboto);
    font-size: 1rem;
    padding-left: 1rem;
}

.modal__date input::placeholder {
    font-family: var(--fontRoboto);
    font-size: 1rem;
    padding-left: 1rem;
    color: var(--border);
}

.modal__container {
    width: 20rem;
    margin: auto;
}

.modal__btn {
    margin-bottom: 0.5rem;
    font-family: var(--fontRoboto);
    width: 20rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #aaaaaa;
    font-size: 1.2rem;
    border-radius: 5px;
}
.modal__btn--accept {
    background-color: var(--blur);
}
.modal__btn--exit:hover {
    background-color: gray;
}
.modal--active{
    background-color: var(--primary-color);
}